main {
    margin: 5em;
}

a {
    text-decoration: underline;
    color: unset;
}

a:hover {
    color:teal;
}

.mdui-row {
    margin: 16px 0;
}

#background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    z-index: -2;
    background-image: url(https://cdn.jsdelivr.net/gh/wychlw/homepage@main/assets/img/bg.jpg);
}

#background::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    position: fixed;
    background-color: rgba(94, 94, 94, 0.377);
}

.card {
    background-color: rgba(120, 144, 156, 0.3)!important;
    border-radius: 1rem;
}

#card_header {
    width: 9em;
    height: unset;
}

#card_header img {
    width: 100%;
    height: unset;
}

#name {
    padding: 0;
}

#website_name {
    font-size: 25px;
    color: white;
    padding-bottom: 2px;
}

#person_name {
    font-size: 15px;
    color: white;
    margin-bottom: 8px;
}

#discribtion {
    padding-top: 0;
}

.nav a {
    background-color: rgba(94, 94, 94, 0.5);
}

.icons {
    font-size: 20;
}

#footer_content {
    width: fit-content;
    width: -moz-fit-content;
    opacity: 0.9;
}